hive-jcommon/trunk/cluster.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://engine.kernelhive.eti.pg.gda.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://engine.kernelhive.eti.pg.gda.pl/" name="ClusterBeanService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://engine.kernelhive.eti.pg.gda.pl/" schemaLocation="http://localhost:8080/ClusterBeanService/ClusterBean?xsd=1"/>
		</xsd:schema>
	</types>
	<message name="update">
		<part name="parameters" element="tns:update"/>
	</message>
	<message name="updateResponse">
		<part name="parameters" element="tns:updateResponse"/>
	</message>
	<message name="getJob">
		<part name="parameters" element="tns:getJob"/>
	</message>
	<message name="getJobResponse">
		<part name="parameters" element="tns:getJobResponse"/>
	</message>
	<message name="reportProgress">
		<part name="parameters" element="tns:reportProgress"/>
	</message>
	<message name="reportProgressResponse">
		<part name="parameters" element="tns:reportProgressResponse"/>
	</message>
	<message name="reportOver">
		<part name="parameters" element="tns:reportOver"/>
	</message>
	<message name="reportOverResponse">
		<part name="parameters" element="tns:reportOverResponse"/>
	</message>
	<portType name="ClusterBean">
		<operation name="update">
			<input wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClusterBean/updateRequest" message="tns:update"/>
			<output wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClusterBean/updateResponse" message="tns:updateResponse"/>
		</operation>
		<operation name="getJob">
			<input wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClusterBean/getJobRequest" message="tns:getJob"/>
			<output wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClusterBean/getJobResponse" message="tns:getJobResponse"/>
		</operation>
		<operation name="reportProgress">
			<input wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClusterBean/reportProgressRequest" message="tns:reportProgress"/>
			<output wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClusterBean/reportProgressResponse" message="tns:reportProgressResponse"/>
		</operation>
		<operation name="reportOver">
			<input wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClusterBean/reportOverRequest" message="tns:reportOver"/>
			<output wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClusterBean/reportOverResponse" message="tns:reportOverResponse"/>
		</operation>
	</portType>
	<binding name="ClusterBeanPortBinding" type="tns:ClusterBean">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="update">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getJob">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="reportProgress">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="reportOver">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ClusterBeanService">
		<port name="ClusterBeanPort" binding="tns:ClusterBeanPortBinding">
			<soap:address location="http://localhost:8080/ClusterBeanService/ClusterBean"/>
		</port>
	</service>
</definitions>