hive-gui/xml-resources/web-service-references/MonitoringClientBean/wsdl/localhost_8080/MonitoringClientBeanService/MonitoringClientBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://monitoring.engine.kernelhive.eti.pg.gda.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://monitoring.engine.kernelhive.eti.pg.gda.pl/" name="MonitoringClientBeanService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://monitoring.engine.kernelhive.eti.pg.gda.pl/" schemaLocation="http://localhost:8080/MonitoringClientBeanService/MonitoringClientBean?xsd=1"/>
		</xsd:schema>
	</types>
	<message name="getClusters">
		<part name="parameters" element="tns:getClusters"/>
	</message>
	<message name="getClustersResponse">
		<part name="parameters" element="tns:getClustersResponse"/>
	</message>
	<message name="getUnits">
		<part name="parameters" element="tns:getUnits"/>
	</message>
	<message name="getUnitsResponse">
		<part name="parameters" element="tns:getUnitsResponse"/>
	</message>
	<message name="getUnitsForCluster">
		<part name="parameters" element="tns:getUnitsForCluster"/>
	</message>
	<message name="getUnitsForClusterResponse">
		<part name="parameters" element="tns:getUnitsForClusterResponse"/>
	</message>
	<message name="getPreviewData">
		<part name="parameters" element="tns:getPreviewData"/>
	</message>
	<message name="getPreviewDataResponse">
		<part name="parameters" element="tns:getPreviewDataResponse"/>
	</message>
	<message name="getDevices">
		<part name="parameters" element="tns:getDevices"/>
	</message>
	<message name="getDevicesResponse">
		<part name="parameters" element="tns:getDevicesResponse"/>
	</message>
	<message name="getAllDevices">
		<part name="parameters" element="tns:getAllDevices"/>
	</message>
	<message name="getAllDevicesResponse">
		<part name="parameters" element="tns:getAllDevicesResponse"/>
	</message>
	<message name="getGraphPath">
		<part name="parameters" element="tns:getGraphPath"/>
	</message>
	<message name="getGraphPathResponse">
		<part name="parameters" element="tns:getGraphPathResponse"/>
	</message>
	<portType name="MonitoringClientBean">
		<operation name="getClusters">
			<input wsam:Action="http://monitoring.engine.kernelhive.eti.pg.gda.pl/MonitoringClientBean/getClustersRequest" message="tns:getClusters"/>
			<output wsam:Action="http://monitoring.engine.kernelhive.eti.pg.gda.pl/MonitoringClientBean/getClustersResponse" message="tns:getClustersResponse"/>
		</operation>
		<operation name="getUnits">
			<input wsam:Action="http://monitoring.engine.kernelhive.eti.pg.gda.pl/MonitoringClientBean/getUnitsRequest" message="tns:getUnits"/>
			<output wsam:Action="http://monitoring.engine.kernelhive.eti.pg.gda.pl/MonitoringClientBean/getUnitsResponse" message="tns:getUnitsResponse"/>
		</operation>
		<operation name="getUnitsForCluster">
			<input wsam:Action="http://monitoring.engine.kernelhive.eti.pg.gda.pl/MonitoringClientBean/getUnitsForClusterRequest" message="tns:getUnitsForCluster"/>
			<output wsam:Action="http://monitoring.engine.kernelhive.eti.pg.gda.pl/MonitoringClientBean/getUnitsForClusterResponse" message="tns:getUnitsForClusterResponse"/>
		</operation>
		<operation name="getPreviewData">
			<input wsam:Action="http://monitoring.engine.kernelhive.eti.pg.gda.pl/MonitoringClientBean/getPreviewDataRequest" message="tns:getPreviewData"/>
			<output wsam:Action="http://monitoring.engine.kernelhive.eti.pg.gda.pl/MonitoringClientBean/getPreviewDataResponse" message="tns:getPreviewDataResponse"/>
		</operation>
		<operation name="getDevices">
			<input wsam:Action="http://monitoring.engine.kernelhive.eti.pg.gda.pl/MonitoringClientBean/getDevicesRequest" message="tns:getDevices"/>
			<output wsam:Action="http://monitoring.engine.kernelhive.eti.pg.gda.pl/MonitoringClientBean/getDevicesResponse" message="tns:getDevicesResponse"/>
		</operation>
		<operation name="getAllDevices">
			<input wsam:Action="http://monitoring.engine.kernelhive.eti.pg.gda.pl/MonitoringClientBean/getAllDevicesRequest" message="tns:getAllDevices"/>
			<output wsam:Action="http://monitoring.engine.kernelhive.eti.pg.gda.pl/MonitoringClientBean/getAllDevicesResponse" message="tns:getAllDevicesResponse"/>
		</operation>
		<operation name="getGraphPath">
			<input wsam:Action="http://monitoring.engine.kernelhive.eti.pg.gda.pl/MonitoringClientBean/getGraphPathRequest" message="tns:getGraphPath"/>
			<output wsam:Action="http://monitoring.engine.kernelhive.eti.pg.gda.pl/MonitoringClientBean/getGraphPathResponse" message="tns:getGraphPathResponse"/>
		</operation>
	</portType>
	<binding name="MonitoringClientBeanPortBinding" type="tns:MonitoringClientBean">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="getClusters">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getUnits">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getUnitsForCluster">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getPreviewData">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getDevices">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getAllDevices">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getGraphPath">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="MonitoringClientBeanService">
		<port name="MonitoringClientBeanPort" binding="tns:MonitoringClientBeanPortBinding">
			<soap:address location="http://localhost:8080/MonitoringClientBeanService/MonitoringClientBean"/>
		</port>
	</service>
</definitions>