hive-jcommon/client.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://engine.kernelhive.eti.pg.gda.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://engine.kernelhive.eti.pg.gda.pl/" name="ClientBeanService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://engine.kernelhive.eti.pg.gda.pl/" schemaLocation="http://localhost:8080/ClientBeanService/ClientBean?xsd=1"/>
		</xsd:schema>
	</types>
	<message name="getWorkflowResults">
		<part name="parameters" element="tns:getWorkflowResults"/>
	</message>
	<message name="getWorkflowResultsResponse">
		<part name="parameters" element="tns:getWorkflowResultsResponse"/>
	</message>
	<message name="browseInfrastructure">
		<part name="parameters" element="tns:browseInfrastructure"/>
	</message>
	<message name="browseInfrastructureResponse">
		<part name="parameters" element="tns:browseInfrastructureResponse"/>
	</message>
	<message name="submitWorkflow">
		<part name="parameters" element="tns:submitWorkflow"/>
	</message>
	<message name="submitWorkflowResponse">
		<part name="parameters" element="tns:submitWorkflowResponse"/>
	</message>
	<message name="browseWorkflows">
		<part name="parameters" element="tns:browseWorkflows"/>
	</message>
	<message name="browseWorkflowsResponse">
		<part name="parameters" element="tns:browseWorkflowsResponse"/>
	</message>
	<message name="terminateWorkflow">
		<part name="parameters" element="tns:terminateWorkflow"/>
	</message>
	<message name="terminateWorkflowResponse">
		<part name="parameters" element="tns:terminateWorkflowResponse"/>
	</message>
	<portType name="ClientBean">
		<operation name="getWorkflowResults">
			<input wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClientBean/getWorkflowResultsRequest" message="tns:getWorkflowResults"/>
			<output wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClientBean/getWorkflowResultsResponse" message="tns:getWorkflowResultsResponse"/>
		</operation>
		<operation name="browseInfrastructure">
			<input wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClientBean/browseInfrastructureRequest" message="tns:browseInfrastructure"/>
			<output wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClientBean/browseInfrastructureResponse" message="tns:browseInfrastructureResponse"/>
		</operation>
		<operation name="submitWorkflow">
			<input wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClientBean/submitWorkflowRequest" message="tns:submitWorkflow"/>
			<output wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClientBean/submitWorkflowResponse" message="tns:submitWorkflowResponse"/>
		</operation>
		<operation name="browseWorkflows">
			<input wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClientBean/browseWorkflowsRequest" message="tns:browseWorkflows"/>
			<output wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClientBean/browseWorkflowsResponse" message="tns:browseWorkflowsResponse"/>
		</operation>
		<operation name="terminateWorkflow">
			<input wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClientBean/terminateWorkflowRequest" message="tns:terminateWorkflow"/>
			<output wsam:Action="http://engine.kernelhive.eti.pg.gda.pl/ClientBean/terminateWorkflowResponse" message="tns:terminateWorkflowResponse"/>
		</operation>
	</portType>
	<binding name="ClientBeanPortBinding" type="tns:ClientBean">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="getWorkflowResults">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="browseInfrastructure">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="submitWorkflow">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="browseWorkflows">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="terminateWorkflow">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ClientBeanService">
		<port name="ClientBeanPort" binding="tns:ClientBeanPortBinding">
			<soap:address location="http://localhost:8080/ClientBeanService/ClientBean"/>
		</port>
	</service>
</definitions>