hive-gui/trunk/src/META-INF/wsdl/localhost_8080/MonitoringClientBeanService/MonitoringClientBean.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://monitoring.engine.kernelhive.eti.pg.gda.pl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://monitoring.engine.kernelhive.eti.pg.gda.pl/">

	<xs:element name="getAllDevices" type="tns:getAllDevices"/>

	<xs:element name="getAllDevicesResponse" type="tns:getAllDevicesResponse"/>

	<xs:element name="getClusters" type="tns:getClusters"/>

	<xs:element name="getClustersResponse" type="tns:getClustersResponse"/>

	<xs:element name="getDevices" type="tns:getDevices"/>

	<xs:element name="getDevicesResponse" type="tns:getDevicesResponse"/>

	<xs:element name="getGraphPath" type="tns:getGraphPath"/>

	<xs:element name="getGraphPathResponse" type="tns:getGraphPathResponse"/>

	<xs:element name="getPreviewData" type="tns:getPreviewData"/>

	<xs:element name="getPreviewDataResponse" type="tns:getPreviewDataResponse"/>

	<xs:element name="getUnits" type="tns:getUnits"/>

	<xs:element name="getUnitsForCluster" type="tns:getUnitsForCluster"/>

	<xs:element name="getUnitsForClusterResponse" type="tns:getUnitsForClusterResponse"/>

	<xs:element name="getUnitsResponse" type="tns:getUnitsResponse"/>

	<xs:complexType name="getUnits">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getUnitsResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:unitDefinition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="unitDefinition">
		<xs:sequence>
			<xs:element name="clusterId" type="xs:int"/>
			<xs:element name="cpuCores" type="xs:int"/>
			<xs:element name="devicesCount" type="xs:int"/>
			<xs:element name="hostname" type="xs:string" minOccurs="0"/>
			<xs:element name="id" type="xs:long" minOccurs="0"/>
			<xs:element name="memorySize" type="xs:int"/>
			<xs:element name="unitId" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPreviewData">
		<xs:sequence>
			<xs:element name="arg0" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getPreviewDataResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:previewObject" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="previewObject">
		<xs:sequence>
			<xs:element name="f1" type="xs:float"/>
			<xs:element name="f2" type="xs:float"/>
			<xs:element name="f3" type="xs:float"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getDevices">
		<xs:sequence>
			<xs:element name="arg0" type="xs:int"/>
			<xs:element name="arg1" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getDevicesResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:deviceDefinition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="deviceDefinition">
		<xs:sequence>
			<xs:element name="clock" type="xs:int"/>
			<xs:element name="clusterId" type="xs:int"/>
			<xs:element name="computeUnitsNumber" type="xs:int"/>
			<xs:element name="deviceId" type="xs:int"/>
			<xs:element name="globalMemoryBytes" type="xs:long" minOccurs="0"/>
			<xs:element name="id" type="xs:long" minOccurs="0"/>
			<xs:element name="localMemoryBytes" type="xs:long" minOccurs="0"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="unitId" type="xs:int"/>
			<xs:element name="vendor" type="xs:string" minOccurs="0"/>
			<xs:element name="workGroupSize" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAllDevices">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getAllDevicesResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:deviceDefinition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getUnitsForCluster">
		<xs:sequence>
			<xs:element name="arg0" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getUnitsForClusterResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:unitDefinition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getGraphPath">
		<xs:sequence>
			<xs:element name="arg0" type="tns:monitoredEntity" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="monitoredEntity">
		<xs:sequence>
			<xs:element name="clusterId" type="xs:int"/>
			<xs:element name="deviceId" type="xs:int" minOccurs="0"/>
			<xs:element name="id" type="xs:int"/>
			<xs:element name="type" type="tns:monitoredEntityType" minOccurs="0"/>
			<xs:element name="unitId" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getGraphPathResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getClusters">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getClustersResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:clusterDefinition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="clusterDefinition">
		<xs:sequence>
			<xs:element name="dataPort" type="xs:int"/>
			<xs:element name="hostname" type="xs:string" minOccurs="0"/>
			<xs:element name="id" type="xs:long" minOccurs="0"/>
			<xs:element name="tcpPort" type="xs:int"/>
			<xs:element name="udpPort" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="monitoredEntityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CPU_SPEED"/>
			<xs:enumeration value="CPU_USAGE"/>
			<xs:enumeration value="MEMORY"/>
			<xs:enumeration value="GPU_USAGE"/>
			<xs:enumeration value="FAN"/>
			<xs:enumeration value="GPU_GLOBAL_MEMORY"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>